@import variables
@import fonts

.breadcrumb-container
  border-bottom: 1px solid $third-color

.breadcrumb>li+li:before
    content: '\25CF'
    color: $third-color

.breadcrumb
    background-color: white
    margin-bottom: 0
    padding: 15px 0

    li
      a
        color: $fifth-color


.article-title
  color: $font-color
  font-family: "FuturaPTBold"
  margin-top: 30px
  margin-bottom: 0



.article-details
  font-family: "FuturaPTDemi"
  margin-top: 0
  li
    a
      text-transform: uppercase
      color: $font-color


.article-details>li+li:before
  color: $font-color

.article-subtitle
  font-family: "FuturaPTBold"
  margin: 40px 0

.article-text
  margin: 0
  text-align: justify
  line-height: 25px


.side-article
  padding: 0 0 0 40px


.categories-title
  text-transform: uppercase
  color: $fifth-color
  margin: 50px 0 

.categories-list
  padding: 0
  li
    list-style-type: none

    a
      color: $fourth-color

      span
        color: $fifth-color

.tags-container
  margin: 30px 0 15px 0

.tag
  display: inline-block
  border: 1px solid $third-color
  padding: 10px 20px
  text-transform: uppercase
  color: $font-color
  margin: 20px 20px 0 0
  font-family: "FuturaPTDemi"
  font-size: 16px
  letter-spacing: 1px

.tag:hover, .tag:focus
  text-decoration: none
  cursor: pointer
  background-color: $hover-background
  color: $secondary-color


.profile-container
  margin-top: 60px

.profile-img__container
  display: inline-block

.profile-description__container
  display: inline-block
  vertical-align: middle
  margin-left: 15px

.profile-text
  text-align: justify
  line-height: 20px
  margin: 20px 50px 0 13px

.profile-social__icon
  margin: 0 2px

.profile-name
  margin: 0
  color: $fourth-color
  font-family: "FuturaPTDemi"

.profile-job__description
  margin: 0

.side-article__line
  border-top: 1px solid $third-color
