@import variables



.form-radio
  display:none !important

.form-radio[type=radio] + label 
  display:inline-block
  width: 40px
  height: 40px
  border: 1px solid #eee
  border-radius: 30px
  padding: 10px
  background-size: 100%


.form-radio[type=radio]:checked + label 
  background: url(../img/check.png) center center no-repeat
  border: 1px solid $success
  display:inline-block
  background-size: 70%



.form-checkbox
  display:none !important

.form-checkbox[type=checkbox] + label 
  display:inline-block
  padding: 0 0 0 0px
  background:url(../img/checkbox-empty.png) no-repeat
  height: 32px
  width: 32px
  background-size: 100%


.form-checkbox[type=checkbox]:checked + label 
  background: url(../img/checbox-checked.png) no-repeat
  height: 32px
  width: 32px
  display:inline-block
  background-size: 100%

.form__input
  border-top: 0
  border-left: 0
  border-right: 0
  border-bottom: 2px solid #ddd

.form__input.error
  border-bottom: 2px solid $error

.form__input:hover, .form__input:focus,
  border-bottom: 2px solid $secondary-color

.form__input.success,
  border-bottom: 2px solid $success

.form-check--full
  color: $subtitles-color
  padding-right: 40px

.form-buttons 
  padding: 20px 40px 10px 40px

.form-btn--right
  float: right

.form-btn--left
  float: left  

.form-btn-submit 
  background-image: url(../img/button.png)
  color: white
  padding: 15px 25px
  border: none
  &:active, &:focus, &:hover
    color: white

.form-btn-cancel
  background: none
  padding: 15px 25px
  border: none
  color: $subtitles-color
  &:active, &:focus, &:hover
    color: $subtitles-color

.form-control:focus
  -webkit-box-shadow: none
  box-shadow: none
 