@import variables

.form__input
  border-top: 0
  border-left: 0
  border-right: 0
  border-bottom: 2px solid #ddd

.form__input.error
  border-bottom: 2px solid $error

.form__input:hover, .form__input:focus,
  border-bottom: 2px solid $secondary-color

.form__input.success,
  border-bottom: 2px solid $success

.form-check--full
  color: $subtitles-color
  padding-right: 40px

.form-buttons 
  padding: 20px 40px 10px 40px

.form-btn--right
  float: right

.form-btn--left
  float: left  

.form-btn-submit 
  background-image: url(../img/button.png)
  color: white
  padding: 15px 25px
  border: none
  &:active, &:focus, &:hover
    color: white

.form-btn-cancel
  background: none
  padding: 15px 25px
  border: none
  color: $subtitles-color
  &:active, &:focus, &:hover
    color: $subtitles-color



.form-control:focus
 -webkit-box-shadow: none
 box-shadow: none